@import "tailwindcss";

@font-face {
  font-family: "Lector FSL";
  src: url("https://framerusercontent.com/assets/vVIFTY2PuwIapN7qdnad4UmbNg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lector FSL";
  src: url("https://framerusercontent.com/assets/gIKaTQlrDZ7Ii4BzPli1xVtOIIE.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lector FSL";
  src: url("https://framerusercontent.com/assets/KKTMS6aDxphvlz9vQ9HtZgLlMrk.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Diatype Semi-Mono";
  src: url("/fonts/ABCDiatypeSemi-MonoEdu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lector: "Lector FSL", serif;
  --font-diatype: "Diatype Semi-Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #842619;
  color: var(--foreground);
  font-family: var(--font-lector);
}
